$primary-color: #00bcd4;
$secondary-color: #f44336;
$tertiary-color: #ff9800;
$quaternary-color: #9c27b0;

$base-font-size: 3.5vw;
$base-font-size-laptops: 1.5vw;
$base-font-family: "Roboto Slab", Helvetica, sans-serif;
$base-font-weight: 300;

$background-color: #fafafa;