<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href={{ "assets/css/main.css" | relative_url }}> 
  </head>
  <body>
    <section class="central">
      <div class="header">
        <img src={{ "assets/images/unita universitas montium.png" | relative_url }} alt="logo">
      </div>
      <section class="content">
        {{ content }}
      </section>
    </section>
    <footer>
      <address>
        <div>
          <i class="fa-solid fa-at"></i></i><a class="mail" href="mailto:unita.communication@unito.it">unita.communication@unito.it</a>
        </div>
        <div>
          <i class="fa-solid fa-house"></i><a href="https://www.univ-unita.eu/">www.univ-unita.eu</a>  
        </div>
      </address>
      <div>
        &copy; 2022 - UNITA - Universitas Montium
      </div>
    </footer>
  </body>
</html>